/*index main*/
@font-face {
    font-family: 'klavika_bdbold';
    src: url('fonts/klavika-bold-webfont.eot');
    src: url('fonts/klavika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-bold-webfont.woff') format('woff'),
         url('fonts/klavika-bold-webfont.ttf') format('truetype'),
         url('fonts/klavika-bold-webfont.svg#klavika_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'klavika_bdbold_italic';
    src: url('fonts/klavika-bolditalic-webfont.eot');
    src: url('fonts/klavika-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-bolditalic-webfont.woff') format('woff'),
         url('fonts/klavika-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/klavika-bolditalic-webfont.svg#klavika_bdbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'klavikalight';
    src: url('fonts/klavika-light-webfont.eot');
    src: url('fonts/klavika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-light-webfont.woff') format('woff'),
         url('fonts/klavika-light-webfont.ttf') format('truetype'),
         url('fonts/klavika-light-webfont.svg#klavikalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klavikalight_italic';
    src: url('fonts/klavika-lightitalic-webfont.eot');
    src: url('fonts/klavika-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-lightitalic-webfont.woff') format('woff'),
         url('fonts/klavika-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/klavika-lightitalic-webfont.svg#klavikalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'klavikamedium';
    src: url('fonts/klavika-medium-webfont.eot');
    src: url('fonts/klavika-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-medium-webfont.woff') format('woff'),
         url('fonts/klavika-medium-webfont.ttf') format('truetype'),
         url('fonts/klavika-medium-webfont.svg#klavikamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'klavikamedium_italic';
    src: url('fonts/klavika-mediumitalic-webfont.eot');
    src: url('fonts/klavika-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-mediumitalic-webfont.woff') format('woff'),
         url('fonts/klavika-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/klavika-mediumitalic-webfont.svg#klavikamedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klavika_rgregular';
    src: url('fonts/klavika-regular-webfont.eot');
    src: url('fonts/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-regular-webfont.woff') format('woff'),
         url('fonts/klavika-regular-webfont.ttf') format('truetype'),
         url('fonts/klavika-regular-webfont.svg#klavika_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'klavikaregular_italic';
    src: url('fonts/klavika-regularitalic-webfont.eot');
    src: url('fonts/klavika-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika-regularitalic-webfont.woff') format('woff'),
         url('fonts/klavika-regularitalic-webfont.ttf') format('truetype'),
         url('fonts/klavika-regularitalic-webfont.svg#klavikaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
     font-family: arial,sans-s;
     color: #666666;
}
#main{
width: 960px;
min-width: 960px;

margin-left: auto;
margin-right: auto;
}

body.main #main{
    height: 1100px;
}
/*banner*/
#banner{
height: 450px;
position: relative;
border-bottom: 1px solid #E3DFD6;
margin: 0px 10px;
}
#slide1{
position: relative;
height: 450px;
}
#slide1 .img1{
position: absolute;
top: 40px;
left: 135px;
z-index: 9999;
}
#slide1 #text1, #slide1 .text1{
position: absolute;
top: 110px;
left: 350px;
z-index: 9999;
}
#text1 .text_a, .text1 .text_a{
font-family: 'klavikalight',arial,sans-s;
color: #90c547;
font-size: 52px;
width: 585px;
text-transform: uppercase;
}
.text1 .text_a, .text1 .text_b{
width: 620px;
}

#text1 .text_b, .text1 .text_b{
font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 52px;
margin-top: -10px;
width: 585px;
text-transform: uppercase;
}
body.main #slide1 .text1 {
left: 350px;
}

li.lig2 .text1  {
top: 50px!important;
}
#text1 .text_c, .text1 .text_c{
/*width: 300px;*/
font-family: 'klavikalight',arial,sans-s;
color: #685d47;
font-size: 20px;
margin-top: 45px;
width: 380px;
}

body.main .text1 .text_b {
margin-top: 0;
line-height: 54px;
}

body.main #slide1 .text1.long {
left: 300px;
}

.text1 .text_c {
width: 320px;
font-family: 'klavika_rgregular',arial,sans-s;
}

.text1.long .text_c {
width: 382px;
}

#text2{
position: absolute;
top: 250px;
left: 350px;
z-index: 9999;
}
#text2 p{
width: 300px;
font-family: 'klavikalight',arial,sans-s;
color: #685d47;
font-size: 20px;
}
#box1{
width: 230px;
height: 150px;
position: absolute;
top: 260px;
left: 710px;
z-index: 9999;
cursor: pointer;
}
#box1 .text{
width: 230px;
height: 150px;
background: url(../images/box1.jpg);
position: relative;
}
#box1 .left{
width: 11px;
height: 150px;
background: url(../images/box1_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}
#box1 .right{
width: 9px;
height: 150px;
background: url(../images/box1_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -2px;
z-index: 9999;
}
#box1  .text_a{
width: 180px;
font-family: 'klavikamedium',arial,sans-s;
color: white;
font-size: 22px;
position: absolute;
top: 10px;
left: 25px;
z-index: 9999;
text-align: center;
/*font-weight: bold;*/
}
#box1  .text_b{
width: 180px;
font-family: 'klavika_rgregular',arial,sans-s;
/*font-family: 'klavika_bdbold',arial,sans-s;*/
color: white;
font-size: 18px;
position: absolute;
top: 115px;
left: 22px;
z-index: 9999;
text-align: center;
}
#splash1{
width: 159px;
height: 160px;
background: url(../images/splash.png) no-repeat;
position: absolute;
top: 75px;
left: 10px;
z-index: 9999;
font-family: arial,sans-s;
font-size: 21px;
color: #fff;
text-align: center;
padding: 35px 0px 0px 0px;
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-ms-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
}
#splash1 span{
font-weight: bold;
font-size: 32px;
}

/*col1*/
#col1{
width: 940px;
height: 235px;
position: relative;
border-bottom: 1px solid #E3DFD6;
margin-left: auto;
margin-right: auto;
}
#col1 .cola{
width: 284px;
height: 163px;
position: absolute;
top: 35px;
left: 0px;
z-index: 9999;
}
#col1 .cola h2, #col1 .colb h2, #col1 .colc h2{
/*font-family: 'klavikalight',arial,sans-s;*/
font-family: 'klavika_rgregular',arial,sans-s;
color: #90c547;
font-size: 23px;
}
#col1 .cola h3, #col1 .colb h3, #col1 .colc h3{
/*font-family: 'klavikalight',arial,sans-s;*/
font-family: 'klavikamedium',arial,sans-s;
color: #666666;
font-size: 19px;
font-weight: 300;
line-height: 18px;
margin-bottom: 10px;
}
#col1 .cola p, #col1 .colb p, #col1 .colc p{
font-family: arial,sans-s;
color: #666666;
font-size: 12px;
/*margin-top: 10px;*/
margin-bottom: 17px;		
}
#col1 .colb{
width: 284px;
height: 163px;
position: absolute;
top: 35px;
left: 330px;
z-index: 9999;
}
#col1 .colc{
width: 284px;
height: 163px;
position: absolute;
top: 35px;
right: 0px;
z-index: 9999;
}
.btn1{
width: 285px;
height: 42px;
position: relative;
cursor: pointer;
}
.btn1 .text{
width: 285px;
height: 42px;
line-height: 40px;
background: url(../images/btn1.jpg);
cursor: pointer;
font-family: 'klavikalight',arial,sans-s;
font-size: 17px;
color: white;
text-align: center;
}
.btn1 .left{
width: 14px;
height: 42px;
background: url(../images/btn1_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}
.btn1 .right{
width: 15px;
height: 42px;
background: url(../images/btn1_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -2px;
z-index: 9999;
}

/*brands*/
#brands{
width: 940px;
height: 75px;
text-align: center;
padding-top: 10px;
border-bottom: 1px solid #E3DFD6;
margin-left: auto;
margin-right: auto;
}
#brands a{
padding: 0 17px;
}

/*col2*/
#col2{
position: relative;
}
#col2 .cola{
width: 450px;
height: 260px;
position: absolute;
top: 35px;
left: 0px;
z-index: 9999;
}
#box2{
width: 450px;
height: 268px;
}
#box2 .text{
width: 450px;
height: 268px;
background: url(../images/box2.jpg);
position: relative;
}
#box2 .left{
width: 23px;
height: 268px;
background: url(../images/box2_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}
#box2 .right{
width: 24px;
height: 268px;
background: url(../images/box2_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -2px;
z-index: 9999;
}
#box2 .btext h2{
width: 400px;
font-family: 'klavikalight',arial,sans-s;
color: white;
font-size: 35px;
position: absolute;
top: 50px;
left: 75px;
z-index: 9999;
font-weight: bold;
}
#box2 .btext h2 span{
color: #655D48;
font-family: arial,sans-s;
font-size: 72px;
position: absolute;
top: -5px;
left: -40px;
z-index: 9999;
}

#box2 .btext h2 span.final{
top: 87px;
left: 220px;
}

#box2 .btext p{
font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 17px;
font-weight: 300;
line-height: 18px;
position: absolute;
top: 200px;
left: 75px;
z-index: 9999;
font-weight: bold;
}
#col2{
width: 940px;
margin-left: auto;
margin-right: auto;
}
	
#col2  .colb{
width: 450px;
height: 268px;
position: absolute;
top: 35px;
right: 10px;
z-index: 9999;
}
#box3  .text{
width: 450px;
height: 268px;
background: url(../images/box3.jpg) repeat-x;
position: relative;
}
#box3 .left{
width: 20px;
height: 268px;
background: url(../images/box3_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}
#box3 .right{
width: 19px;
height: 268px;
background: url(../images/box3_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -2px;
z-index: 9999;
}
#box3 .text{
position: relative;
}
#box3 .btext h2{
position: absolute;
top: 20px;
left: 20px;
z-index: 9999;
font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 25px;
}
#box3 .btext ul{
position: absolute;
top: 55px;
left: 20px;
z-index: 9999;
font-family: arial,sans-s;
color: #666666;
font-size: 12px;
}
#box3 .btext ul span{
color: #9CCD58;
padding: 0px 5px 0px 5px;
font-family: 'klavikalight',arial,sans-s;
font-size: 16px;
font-weight: bold;
}
#btn2 {
position: absolute;
top: 210px;
left: 10px;
z-index: 9999;
cursor: pointer;
}
#btn2 .text{
width: 430px;
height: 42px;
line-height: 40px;
background: url(../images/btn2.jpg);
cursor: pointer;
font-family: 'klavikalight',arial,sans-s;
font-size: 17px;
color: white;
text-align: center;
}
#btn2 .left{
width: 11px;
height: 42px;
background: url(../images/btn2_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}
#btn2 .right{
width: 12px;
height: 42px;
background: url(../images/btn2_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -1px;
z-index: 9999;
}
#splash2{
width: 159px;
height: 160px;
background: url(../images/splash.png) no-repeat;
position: absolute;
top: -15px;
right: -15px;
z-index: 9999;
font-family: arial,sans-s;
font-size: 21px;
color: #fff;
text-align: center;
padding: 35px 0px 0px 0px;
}
#splash2 p{
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-ms-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
}

#splash2 span{
font-weight: bold;
font-size: 32px;
}

/* extra */

body.saadan #slide1 #text1 {
left: 50px;
}

body.saadan #slide1 #text2 {
left: 50px;
}

body.saadan #slide1 #text2 p {
width: 850px;
}

body.saadan #slide1 #text1 {
top: 80px;
}

body.saadan #slide1 #text2 {
top: 220px;
}

body.saadan #banner {
height: 330px;
}

body.saadan #box1 {
top: 40px;
}

body.saadan #col1 {
height: 780px;
border-bottom: none;
}

body.saadan #main {
/*height: 1112px;    */
}

body.saadan #col1 .cola {
width: 679px;
}

body.saadan #col1 .cola p {
font-size: 14px;
line-height: 22px;
}

.img2 {
    margin-bottom: 25px;
}

#box4 {
width: 230px;
height: 163px;
position: absolute;
top: 225px;
left: 710px;
z-index: 9999;
cursor: pointer;
}

#box4 .text {
width: 230px;
height: 163px;
background: url(../images/box4.jpg);
position: relative;
}

#box4 .text_a {
width: 195px;
font-family: 'klavikalight',arial,sans-s;
color: white;
font-size: 17px;
position: absolute;
top: 10px;
left: 17px;
z-index: 9999;
text-align: left;
font-weight: bold;
}

#box4 .text_b {
width: 195px;
font-family: 'klavikalight',arial,sans-s;
color: #676767;
font-size: 12px;
position: absolute;
top: 80px;
left: 17px;
z-index: 9999;
text-align: left;
}

#box4 .left {
width: 11px;
height: 163px;
background: url(../images/box4_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}

#box4 .right {
width: 15px;
height: 163px;
background: url(../images/box4_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -5px;
z-index: 9999;
}
#box4 a {

}

body.saadan #col1 .cola {
border-bottom: 1px solid #90C547;
height: 730px;
}

.btn2 {
width: 212px;
position: absolute;
top: 110px;
left: 10px;
z-index: 10000;
}
.btn2 .textx {
width: 210px;
height: 42px;
line-height: 40px;
background: url(../images/btn3.jpg);
cursor: pointer;
font-family: 'klavikalight',arial,sans-s;
font-size: 17px;
color: white;
text-align: center;
}

.btn2 .leftx {
width: 14px;
height: 42px;
background: url(../images/btn3_left.jpg) no-repeat;
position: absolute;
top: 0px;
left: 0px;
z-index: 9999;
}

.btn2 .rightx {
width: 15px;
height: 42px;
background: url(../images/btn3_right.jpg) no-repeat;
position: absolute;
top: 0px;
right: -2px;
z-index: 9999;
}

body.saadan #text1 .text_a, body.saadan #text1 .text_b {
width: 900px;
white-space: nowrap;
}

body.det_dar_du #col1 .cola {
height: 730px;
}

body.det_dar_du #main {
/*height: 780px;*/
}

body.det_dar_du #col1 {
    border-bottom: none;
}

h1{
font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 25px;
padding-bottom: 13px;
}

body.det_dar_du #col1 .cola h2{
    font-size: 18px;
    color : #666666;
    margin-bottom: 10px;
}

a {
    color : #668D30;
}

.cola img{
float: left;
margin-right: 20px;   
margin-bottom: 20px;
}

body.min_ebogholder #col1 .cola {
height: 420px;
}

body.min_ebogholder #main {
height: 1335px;
/*height: 805px;*/
}

body.min_ebogholder.sent #main {
height: 907px;
}

body.min_ebogholder #col1 {
height: 475px;
}

body.det_far_du #col1 {
height :200px;
}

body.det_far_du #box4 {
top: 25px;
}

body.min_ebogholder h1 {
padding-bottom: 10px;
}

body.saadan #text1 .text_a, body.saadan #text1 .text_b {
text-transform: uppercase;
}

#slide1 .img1-ball {
position: relative;
left: 586px;
z-index: 9999;
}

/*body.det_far_du #col22 {
width: 467px;
margin-left: 10px;
}*/

/*body.main .colc .btn1{
  top: 15px;  
}*/

body.det_far_du #col22 .colb {
width: 620px;
/*height: 268px;*/
/*position: absolute;*/

z-index: 9999;
margin-top: 30px;
margin-left: 12px;

}

/*body.det_far_du #col22 {
width: 940px;
margin-left: auto;
margin-right: auto;
}*/

body.det_far_du #box3 .text {
width: 680px;
height: 682px;
/*background: url(../images/box3.jpg) repeat-x;*/
position: relative;
background-color: #EFEEEC;
border-radius: 20px;
}

body.det_far_du div.btext ul li.desc{
    margin-left : 20px;
    margin-top: 10px;
}
body.det_far_du #box3 .btext h2 {
position: absolute;
top: 20px;
left: 26px;
z-index: 9999;
font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 25px;
margin-left: 13px;
}

body.det_far_du #box3 .btext ul {
position: relative;
top: 55px;
left: 20px;
z-index: 9999;
font-family: arial,sans-s;
color: #666666;
font-size: 12px;
width: 620px;
font-size: 14px;
line-height: 22px;
}

body.det_far_du #box3 .btext ul span {
color: #9CCD58;
padding: 0px 5px 0px 5px;
font-family: 'klavikalight',arial,sans-s;
font-size: 16px;
font-weight: bold;
margin-right: 5px;
}

body.det_far_du #col1 {
width: 940px;
height: 200px;
position: relative;
margin-left: auto;
margin-right: auto;
}

body.det_far_du #col1 .cola {
border-bottom: none;
height: inherit;
}

.bottom-box{
    height: 270px!important;
    
}

body.det_far_du #col1 .cola {
width: 163px;
height: 151px;
position: absolute;
left: 48px;
z-index: 9999;
}

body.det_far_du #col1 .colb {
width: 459px;
height: 163px;
position: absolute;
left: 172px;
z-index: 9999;
}

body.det_far_du #col1 .cola h2, body.det_far_du #col1 .colb h2, body.det_far_du #col1 .colc h2 {
font-family: 'klavikalight',arial,sans-s;
font-size: 25px;
font-weight: 200;
color : black;
}

body.det_far_du #col1 .cola p, body.det_far_du #col1 .colb p, body.det_far_du #col1 .colc p {
font-family: 'trebuchet ms',arial,sans-s;
color: #666666;
font-size: 14px;
margin-top: 10px;
margin-bottom: 20px;
}

.bottom-box .colaa.cola
{
width: 761px!important;
left: 0!important;
border-bottom: 1px solid rgb(168, 238, 113)!important;
height: 234px!important;
}

#col22 {
    position: relative;
}

body.det_siger_folk .cola div{
    border-bottom: 1px solid rgb(168, 238, 113);
    margin-bottom: 44px;
    padding-bottom: 8px;
}

.cola div h1{
font-size: 37px;
}

.right-txt {
    text-align: right;
}

body.det_siger_folk .cola{
    border-bottom: none!important;
}

a.link {
float: right;
top: -5px;
position: relative;
margin-left: 8px;
}

.sep{
    border-bottom: 1px solid #90C547;
    margin-top :30px;
    margin-bottom: 30px;
}

body.komigang #col1 .cola {
    border : none!important;
}

body.komigang #col1 {
height: 1000px;
border-bottom: none;
}


.boxfull{
    background-color: #EFEEEC;
border-radius: 20px;
padding : 20px;
}

.boxfull h1{
font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 25px!important;
margin-left: 25px;
}

.boxfull h2{
    font-size: 20px!important;
    font-family: arial,sans-s!important;
    color: #666666!important;
    display: inline;
    line-height: 22px;
    font-weight: normal;
}

p.small {
    font-size: 12px!important;
    line-height: 16px!important;
}

.boxfull span{
    color: #9CCD58;
padding: 0px 5px 0px 5px;
font-family: 'klavikalight',arial,sans-s;
font-size: 16px;
font-weight: bold;
margin-right: 5px;
}

.boxfull p {
    margin-top: 10px;
    margin-left: 25px;
}

#download-app {
width: 670px;
background-color: #EFEEEC;
border-radius: 10px;
margin-bottom: 30px;
border-top-right-radius : 0;
border-top-left-radius : 0;
}
#download-title{
border-radius: 10px; 
background-color: #685D47;
height : 40px;
width: 670px;
border-bottom-right-radius : 0;
border-bottom-left-radius : 0;
margin-top: 25px;
}

#download-title p {
 color : white!important;  
 font-family: 'klavikalight',arial,sans-s!important; 
 font-size: 16px!important;
margin-left: 20px;
padding-top: 7px;
}

#download-app img {
margin-bottom: 10px;    
}

#left-app, #right-app {
width: 300px;
float: left;
margin-left: 30px;
margin-top: 30px;
margin-bottom: 30px;
}
#download-app p{
 clear: both;
 margin-bottom: 0!important;
 line-height: 23px!important;
 font-size: 12px!important;
}

.clearfix{
    clear :both;
}

p.italic {font-style:italic}

p span.normal {font-style:normal}

.img-artikle img{
    float : none;
    margin-top: 6px;
}

p.date {
    font-size: 11px!important;
}

body.artkel #col1 .cola {
height: 780px;
}

body.artkel #col1 {
height: 835px;
}

body.main #col1 .cola p, body.main #col1 .colb p, body.main #col1 .colc p {
    height : 41px;
}

h4{
    font-family: 'klavikalight',arial,sans-s;
color: #666666;
font-size: 17px;
padding-bottom: 13px;
}

table {
    font-family: arial,sans-s;
    color: #666666;
    font-size: 16px;
    padding: 20px;
    width: 100%;
    border-spacing:0;
    padding-bottom: 5px;
}

td {
border-bottom: 1px solid #AEA89C;
vertical-align: middle;
}

tr{
height : 35px;
}

ul li span {
    color : #90C547;
}
ul li {
/*    font-size: 15px;*/
/*line-height: 22px;*/
}

body.juridisk #col1 {
height: 930px;
}

body.juridisk table {
    padding-bottom: 20px;
}

body.juridisk td.last-td{
    border-bottom: none;
}

ul.imglist h4{
    padding-bottom: 5px;
}

ul.imglist p{
    margin-bottom: 5px!important;
    margin-left : 100px;
}

ul.imglist img {
    margin-top : 5px;
}

ul.imglist li{
    margin-bottom: 30px;
}

.sep.top {
margin-top: 15px;
margin-bottom: 15px;
}

h2.title{
    color : #666666!important;
    margin-bottom: 12px;
}

body.omos #col1{
    height: 1140px!important;
}

td.labels{
    width: 170px;
    font-size: 13px;
    vertical-align: top;
    padding-top: 8px;
    text-align: right;
    padding-right: 10px;
}

table input, table textarea {
    width : 450px;
}

#kontakt {

}

body.min_ebogholder #download-title {
    width : 680px;
}

body.min_ebogholder #download-app {
    width : 680px;
}
.btn{
    background: transparent url(../images/send.png) no-repeat 0 0;
    width: 218px;
    height: 54px;
    margin: 10px;
    border: none;
    float: right;
    text-indent: 100%;
    overflow: hidden;
    padding: 0;
    cursor : pointer;
    margin-right: 24px;
}

body.min_ebogholder table {
/*padding-right: 30px;
padding-left: 30px;
padding-bottom: 0px;*/
}

textarea {
margin-bottom: 5px;
margin-top: 5px;
}
.colon {
width: 680px;
/*padding-left: 10px;*/
}

.etiq h1{
    font-weight: bold;
    font-size: 26px!important;
}

.etiq p {
    margin-bottom: 0px!important;
}
.etiq h3 {
    margin-bottom: 4px!important;
}
body.kontaktos #col1 .cola {
height: 640px;
/*height: 360px;*/
margin-left: 10px;
}

body.kontaktos.sent #col1 .cola {
height: 360px;
}

body.kontaktos #col1 {
height: 690px;
/*height: 410px;*/
}

body.kontaktos.sent #col1 {
height: 410px;
}

body.kontaktos #col1 .cola {
width: 671px;
}
body.kontaktos #main{
padding-top: 50px;    
}

body.juridisk h4{
    margin-top: 15px;
    padding-bottom: 5px;

}

body.juridisk ul li p {
    display: inline;
margin-left: 8px;
}

#download-title p {
    text-align : center;
    padding-top: 10px;

}

.kontakt-div {
/* display: none;  */
}

#kontakt {
/*  display: none;    */
}


body.samar #col1 {
height: 1240px;
}

body.samar h1{
text-transform: uppercase;
font-weight: normal;
font-size: 29px;    
}

body.samar ul.imglist p {
margin-left: 180px;
}

body.samar .cola img {
margin-right: 0;
}

body.samar ul.imglist p {
margin-bottom: 10px!important;
}

div.error { display: none; }
/*input {	border: 1px solid black; }
input:focus { border: 1px dotted black; } */
input.error { border: 1px dotted red; }

label.error{
    color : red;
    font-size : 10px;
    text-align: right;
}

#kontakt.sent{
    display : none;
}

#confirm-msg.notsent {
    display : none;
}

#confirm-msg {
    margin-top: 30px;
}

p.comment{
   margin-left: 20px;
   float: left;
}
textarea{
font-family: arial,sans-s;    
}

.colon.kontakt-div.sent p.sent{
    display : none;
}

body.min_ebogholder .kontakt-div {
margin-left: 10px;
}

body.min_ebogholder #confirm-msg {
margin-top: 8px;
margin-bottom: 10px;
}


.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
/*background: #90C547!important;*/
width : 6px;
height : 6px;
background : transparent url(images/active.png) 0 0 no-repeat;
}

.bx-wrapper .bx-pager.bx-default-pager a {
/*background: #685D47!important;*/
width : 6px;
height : 6px;
background : transparent url(images/normal.png) 0 0 no-repeat;
}

body.main #col1 .cola p, body.main #col1 .colb p, body.main #col1 .colc p {
font-size: 11px;
}
/*.bx-prev{
    left : -35px!important;
}

.bx-next{
    right: -35px!important;
}*/

.bx-pager{
    position: relative!important;
    top: -36px!important;
}

a.bx-pager-link.active{
	width: 7px!important;
	height: 7px!important;
	border-radius: 5px!important;
}

.bx-pager-item{
    vertical-align: top!important;
    position: relative;
    top: -2px;
}

.bx-pager.bx-default-pager{
    background: transparent url(../images/pager.png)  50% 12px no-repeat;
    border-bottom: 1px solid #E3DFD6;
}

body.main #banner {
border : none!important;
}

.bx-wrapper .bx-pager {
margin-top: 8px;
}

.bx-controls-direction{display:none}

body.det_far_du {
    overflow-x: hidden;
}

#splash3 {
    width: 160px;
    height: 158px;
    background: transparent url(../images/fast-pris.png) 0 0 no-repeat;
    position: relative;
    top: -279px;
    left: 300px;
    z-index: 999999;
}